.contenedor-header {
    background: #1e2326;
    position: fixed;  
    width: 100%;
    top:0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding:  15px 20x;
    align-items: center;
}
.contenedor-contenido {
    
    width: 100%;
    top:0;
    left: 0;
    background: linear-gradient(to right, #1CB698, #1e2326, white);
    
}
.contenedor-contenido .contenido{
    max-width: 1100px;
    margin: auto;
    display: flexbox;
    justify-content: space-between;
    padding:  15px 20x;
    align-items: center;
   
    
  
    
}


.contenedor-header header .logo a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
 }

